@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.links-container {
  margin-top: 150px;
  position: relative;
}

.links ul {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  gap: 20px;
}

.links ul li a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 70px;
  background: #fff;
  text-align: center;
  transition: 0.5s;
  transform: rotate(-30deg) skew(25deg) translate(0, 0);
  box-shadow: -20px 20px 10px rgba(81, 80, 80, 0.5);
}

.links ul li a:hover {
  transform: rotate(-30deg) skew(25deg) translate(0, -5px);
  box-shadow: -20px 30px 20px rgba(81, 80, 80, 0.3);
}

.links ul li a i {
  font-size: 20px;
  color: #262626;
  transition: 0.5s;
  padding-right: 10px;
}

.links ul li a span {
  padding: 0;
  margin: 0;
  color: #262626;
  letter-spacing: 4px;
  transition: 0.5s;
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight: 550;
  font-style: normal;
  margin-left: 20px;
  padding-right: 10px;
}

.links ul li a:before {
  content: "";
  height: 100%;
  width: 20px;
  transform: rotate(0deg) skewY(-45deg);
  transition: 0.5s;
}

.links ul li a.jump {
  animation: jump 0.5s ease-out forwards;
}

@keyframes jump {
  0% {
    transform: rotate(-30deg) skew(25deg) translate(0, 0);
  }
  50% {
    transform: rotate(-30deg) skew(25deg) translate(0, -20px);
  }
  100% {
    transform: rotate(-30deg) skew(25deg) translate(0, 0);
  }
}

.links ul li.linkedIn a:hover {
  background: #0a66c2;
}

.links ul li.github a:hover {
  background: #7b9cb050;
}

.links ul li.Mail a:hover {
  background: #b33729;
}

.links ul li.instagram a:hover {
  background: linear-gradient(
    45deg,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d
  );
}

.links ul li a:hover {
  span,
  i {
    color: white;
  }
}

.links ul li a.jump,
.links ul li a.jump:hover {
  background: #0a66c2;
  color: white;
  box-shadow: -20px 30px 20px rgba(81, 80, 80, 0.3);
}

.links ul li.linkedIn a.jump {
  background: #0a66c2;
}

.links ul li.github a.jump {
  background: #7b9cb050;
}

.links ul li.Mail a.jump {
  background: #b33729;
}

.links ul li.instagram a.jump {
  background: linear-gradient(
    45deg,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d
  );
}

.links ul li a.jump span,
.links ul li a.jump i {
  color: white;
}

.link-title {
  font-family: "Poppins";
  font-size: 2.5rem;
  color: white;
  font-weight: 500;
  margin-bottom: 200px;
  text-align: center;
}

.link-title span {
  background-color: #ff8911;
  padding: 5px;
}

@media screen and (max-width: 1100px) {
  .links ul li {
    width: 150px;
    margin: 0;
  }
}

@media screen and (max-width: 600px) {
  .links ul li a {
    height: 60px;
  }
  .links ul {
    flex-direction: column;
    gap: 20px;
  }
  .links ul {
    margin-right: 85px;
  }

  .link-title {
    font-size: 1.8rem;
    margin-bottom: 80px;
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media screen and (max-width: 900px) {
  .links ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 90px;
  }
}
