@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
}

.Hero {
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding-top: 30px;
}

h1 {
  padding: 10px;
  margin: 50px;
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 3.7rem;
  color: white;
  margin-bottom: 20px;
}

.hero-title {
  padding-left: 10px;
  background-color: #ff8911;
  padding: 10px;
}

.intro,
.Typewriter,
.from {
  margin: 10px;
  margin-bottom: 15px;
}

.from span {
  margin-left: 10px;
  background-color: white;
  color: black;
  padding: 10px;
}

.Hero p {
  color: #ff8911;
  margin-left: 60px;
  padding: 10px;
  font-family: "Outfit", system-ui;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  margin-right: 30px;
}

.button {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-left: 45px;
}

.button button {
  background-color: white;
  padding: 20px;
  color: black;
  width: 100%;
  margin: 20px;
  font-family: "Outfit", system-ui;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  border-radius: 15px;
  transition: 0.5s ease;
  display: inline-flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

.button button:hover {
  background-color: #ff8911;
  margin-top: 1px;
}

.button img {
  width: 30px;
}

.Image {
  display: inline-flex;
  justify-content: center;
  margin: 30px;
}

.Image img {
  width: 450px;
  height: 450px;
  margin-right: 30px;
  border: 3px solid #ff8911;
  border-radius: 40px;
  box-shadow: 5px 5px #8b4f12;
  transition: 0.5s ease-in;
}

.Image img:hover {
  box-shadow: 8px 8px #8b4f12;
  margin-top: 2px;
  margin-left: 2px;
}

@media screen and (max-width: 1170px) {
  .Image img {
    width: 430px;
    height: 430px;
  }

  h1 {
    font-size: 3.3rem;
  }
}

@media screen and (max-width: 950px) {
  .button {
    flex-direction: column;
    gap: 0px;
  }

  .button button {
    padding: 10px;
    margin-top: 0px;
  }

  .Image img {
    width: 350px;
    height: 350px;
    margin-top: 0px;
  }

  .Image img:hover {
    margin-top: 0px;
  }
}

@media screen and (max-width: 850px) {
  .Hero {
    flex-direction: column-reverse;
  }

  .Image img {
    width: 450px;
    height: 450px;
    margin-top: 0px;
  }

  .button {
    margin-top: 10px;
    margin-left: 0px;
  }

  .button button {
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .Image img {
    width: 280px;
    height: 280px;
    margin-top: 0px;
    margin-left: 35px;
  }

  h1 {
    font-size: 2rem;
    margin-left: 35px;
  }
  .Hero p {
    margin-left: 40px;
    font-size: 15px;
    text-align: left;
  }
  .button button {
    margin: 10px;
    margin-left: 0px;
    font-size: 15px;
    width: 75%;
  }
  .button img {
    width: 20px;
  }
}
